body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 100px;
  background-color: black;
  color: white;
}

#page-wrapper {
scroll-margin-top: 120px;
}

@media (max-width: 650px) {

body {
margin-top: 250px;
}

#page-wrapper {
scroll-margin-top: 300px;
}
}


.top-section {
position: fixed;
top: 0;
width: 100%;
background-color: black;
z-index: 1;
padding: 0px;
margin: 0px;
margin-right:200px;
color: white;
}


header {
padding: 10px;
display: flex;
align-items: center;
}

.logo {
display: flex;
align-items: center;
}

.logo > img {
width: 10%;
height: 35%;
}

.brand-name {
font-weight: bold;
font-weight: 700;
font-style: italic;
font-size: 25px;
padding-left: 20px;
color: white;
}

nav > ul {
width: 35vw;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
text-align: center;
list-style: None;
}

nav > ul > li > a {
font-size: 18px;
font-style: sans-serif;
font-weight: 500px;
text-decoration: none;
color: white;
padding: 10px;
border-radius: 5px;
}

.nav-link:hover {
background-color: gray;
font-size: 22px;
color: white;
}

.seperator {
margin: 0px;
padding: 0px;
color: white;
}

@media (max-width: 650px) {

  .top-section {
    width: 100%;
  }

  .logo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .brand-name {
    margin-top: 8px;
    padding-left: 0px;
  }

  header {
     display: flex;
     flex-direction: column;
  }

  nav > ul {
    flex-direction: column;
    padding-left: 0px;
    margin-top: 5px;
 }

  nav > ul > li {
    margin-top: 8px;
  }

  nav > ul > li > a {
    padding: 2px;
  }

}

#slideshow {
box-sizing:border-box;
width: 100%;
height: 600px;
margin: auto;
position: relative;
}

.Slides {
display: none;
}

#kong{
display:initial;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

.Slides > img {
border-radius: 7px;
width: 100%;
height: 600px;
}

.text {
color: black;
background-color: white;
font-size: 25px;
position: absolute;
bottom: 0px;
width: 100%;
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
opacity: 0;
animation-name: fadeOut;
animation-duration: 1.5s;
-webkit-animation-name: fadeOut;
-webkit-animation-duration: 1.5s;
}


.prev {
top: 50%;
cursor: pointer;
position: absolute;
left: 0px;
padding: 10px;
font-weight: 1000;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
background-color: white;
color: black;
}

.next {
top: 50%;
cursor: pointer;
position: absolute;
right: 0px;
padding: 10px ;
font-weight: 1000;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
background-color: white;
color: black;
}

.dots {
text-align: center;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

#slideshow:hover .text {
opacity: 1;
animation-name: fadeIn;
animation-duration: 1.5s;
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 1.5s;
}

.active, .dot:hover {
background-color: #717171;
}


@media (max-width: 650px) {

#slideshow{
width:90%;
height:200px;
}

.Slides > img {
  height: 200px;
}

.text{
width: 100%;
font-size: 5px;
padding-bottom: 4px;
padding-top: 4px;
}

.prev{
padding: 3px;
font-weight: 300;
}

.next{
padding: 3px;
font-weight: 300;
}

}



#video-section {
margin-top:70px;
margin-left: 10px;
scroll-margin-top: 100px;
}
.video-bar{
overflow:scroll;
}
.video-bar::-webkit-scrollbar {
display: none;
}
#video-section > h1 {
margin: 0px;
font-size: 25px;
padding: 15px;
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.video-bar {
display: flex;
}

.video {
margin: 15px;
text-align: center;
}

iframe {
border-radius: 5px;
box-shadow: 1px 1px 1px 1px yellow;
transition: transform .4s;
width:300px;
height: 200px;
}

.video > h1 {
font-size: 18px;
font-style: sans-serif;
font-weight: 400;
}

iframe:hover {
transform: scale(1.1);
}

@media (max-width: 650px) {

.video-bar{
display: flex;
flex-direction: column;
}

.video{
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
}

#video-section {
scroll-margin-top: 300px;
}

}



#movie-section {
margin-left: 10px;
margin-top:70px;
align-items:center;
scroll-margin-top: 100px;
}

.movie-bar{
overflow:scroll;
}

.movie-bar::-webkit-scrollbar {
display: none;
}

#movie-section > h1 {
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
margin: 0px;
padding: 15px;
}

.movie-bar {
display: flex;
}

.movie {
text-align: center;
height: 450px;
width: 250px;
position: relative;
margin: 15px;
vertical-align: center;
}

.mov-pic {
height: 400px;
width: 250px;
border-radius: 5px;
animation-name: fadeinmini;
animation-duration: 1s;
-webkit-animation-name: fadeinmini;
-webkit-animation-duration: 1s;
}

.book {
position: absolute;
margin-left: auto;
margin-right: auto;
font-size: 20px;
font-weight: 300;
left: 0;
right: 0;
text-align: center;
width: 150px;
top: 60%;
border-radius: 5px;
padding: 10px;
color: black;
opacity: 0;
cursor: pointer;
background-color: rgb(236, 236, 236);
animation-name: fadeOut;
animation-duration: 1s;
-webkit-animation-name: fadeOut;
-webkit-animation-duration: 1s;
}


.movie > h1 {
font-size: 18px;
font-style: sans-serif;
font-weight: 400;
}

.poster:hover .mov-pic{
opacity: 0.2;
animation-name: fadeoutmini;
animation-duration: 1s;
-webkit-animation-name: fadeoutmini;
-webkit-animation-duration: 1s;
}

.poster:hover .book {
opacity: 1;
animation-name: fadeIn;
animation-duration: 1s;
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 1s;
}

@media (max-width: 650px) {

.movie-bar{
display: flex;
flex-direction: column;
}

.movie{
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
}

#movie-section {
scroll-margin-top: 300px;
}

}

#award-section {
margin-left: 10px;
margin-top: 70px;
scroll-margin-top: 100px;
}

#award-section > h1 {
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
margin: 0px;
padding: 15px;
}

.award-bar {
padding: 10px;
}

.award {
background-color:gray;
text-align: center;
width: 85%;
margin: auto;
padding: 15px;
border-radius: 10px;
border-left: 10px solid yellow;
margin-top: 15px;
transition: transform .4s
}

.award > h1 {
color:  white;
font-size: 18px;
font-style: sans-serif;
font-weight: 400;
}


.award:hover {
  transform: scale(1.1);
}


@media (max-width: 650px) {

.award{
width: 80%;
margin:auto;
margin-top: 50px;
}

#award-section {
scroll-margin-top: 300px;
}

}





#subscribe {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 350px;
margin: auto;
padding: 15px;
border-radius: 10px;
background-color:  rgb(236, 236, 236);
scroll-margin-top: 100px;
margin-top: 60px;
}

#form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center; 
margin-bottom: 0px; 
color: black;
}

.subscribe-text {
  font-size: 25px;
  font-style: normal; 
  color: black;    
}

#subscribe > form > input[type = "email"]{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
}

#subscribe > form > input[type = "submit"]{
width: 100px;
height: 30px;
border-radius: 5px;
margin-top: 15px;
background-color: #FFD700;
}

@media (max-width: 650px) {

#subscribe{
width: 80%;
}

}



#details-section {
margin-top: 60px;
}

.details {
display: flex;
}

.details-content-1 {
padding: 10px;
width:25%;
}

.det-box{
display: inline-flex;
align-items: center;
}

.follow-text {
font-size: 18px;
padding-left: 10px;
padding-right: 10px;
font-family: 'Times New Roman', Times, serif;
font-style: oblique;
}

.icon {
height: 30px;
width: 30px;
padding: 10px;
cursor: pointer;
}

.mail {
padding-left: 10px;
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: oblique;
font-weight: 400;
}


.details-content-2{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
width:50%;
transform: translate(0, 20%);
}

.bottom-logo {
width: 60px;
height: 60px;
}

.company-name {
font-weight: bold;
font-weight: 700;
font-style: italic;
font-size: 25px;
margin-bottom: 0px;
}

.rights {
font-size: 10px;
}

.details-content-3 {
width:25%;
margin-top: 10px;
}

.mail-2 {
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: oblique;
font-weight: 500;
text-align: center;
padding: 7px;
margin: 0px;
border-radius: 5px;
cursor: pointer;
}

.mail-2:hover {
color: yellow;
}


@media (max-width: 650px) {

.details{
display: flex;
flex-direction: column;
}

.details-content-1{
width:80%;
margin: auto;
}

.details-content-2{
width:80%;
margin: auto;
}

.details-content-3{
width:80%;
margin: auto;
margin-top: 40px;
}

}




@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
} 
}

@-webkit-keyframes fadeIn {

from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes fadeOut {
from {
  opacity: 1;
}
to {
  opacity: 0;
} 
}

@-webkit-keyframes fadeOut {

from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

@keyframes fadeinmini {
from {
  opacity: 0.2;
}
to {
  opacity: 1;
} 
}

@-webkit-keyframes fadeinmini {

from {
  opacity: 0.2;
}
to {
  opacity: 1;
}
}

@keyframes fadeoutmini {
from {
  opacity: 1;
}
to {
  opacity: 0.2;
} 
}

@-webkit-keyframes fadeoutmini {

from {
  opacity: 1;
}
to {
  opacity: 0.2;
}
}